django
django-crispy-forms
dj-database-url
djangorestframework
requests
django-paypal
paypal-checkout-serversdk
pymysql
django-jazzmin
# Si decides quedarte solo con Jazzmin o Admin Interface, elimina el otro.
django-extensions
openpyxl
psycopg2-binary
python-dotenv
django-environ
# Elimina python-decouple si no lo usas:
# python-decouple==3.8
gunicorn
whitenoise
cloudinary
django-cloudinary-storage
django-colorfield